<h1 class="header"><%=list.name%></h1>
<div class="ui content">
	<%i = 1%>
	<% list.sort_tasks.each do |task|%>
		<div class="item">
				<div class="ui content">
					<%if i == 1%>
						<a class="ui red ribbon label">Task #<%=i%></a>
					<%else%>
						<a class="ui gray ribbon label">Task #<%=i%></a>
						<%= link_to 'Move Up', list_task_move_path(list,task), class: "mini ui blue button" %>
					<%end%>
					<div class="ui item">
						<div class="header"><%=task.name + " #{task.priority}"%></div>
						<div class="description"><%=task.description%></div>
					</div>
				</div>
			</div>
			<%i+=1%>
	<%end%>
</div>
